form {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

div.error-message {
    color: red;
    margin-top: 5px;
}

div.form-container {
    margin-top: 20px;
}