<!-- src/app/book-table/book-table.component.html -->
<div>
  <input type="text" placeholder="Search by title or author" [(ngModel)]="searchQuery" />
  <button (click)="search()">Search</button>
</div>

<!-- button for sorting by title -->
<button (click)="toggleSortOrder('title')">Sort by Title</button>

<!-- button for sorting by author -->
<button (click)="toggleSortOrder('author')">Sort by Author</button>

<table mat-table [dataSource]="books" class="mat-elevation-z8">

  <!-- ISBN Column -->
  <ng-container matColumnDef="ISBN">
    <th mat-header-cell *matHeaderCellDef>ISBN</th>
    <td mat-cell *matCellDef="let book">{{ book.ISBN }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef (click)="toggleSortOrder('title')">
      Title
    </th>
    <td mat-cell *matCellDef="let book">{{ book.title }}</td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef (click)="toggleSortOrder('author')">
      Author
    </th>
    <td mat-cell *matCellDef="let book">{{ book.author }}</td>
  </ng-container>

  <!-- Image URL Column -->
  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let book">
      <button mat-icon-button (click)="openBookDetailsModal(book)">
        <img [src]="book.imageUrl" alt="Book Image" style="max-width: 100px; max-height: 100px;">
      </button>
    </td>
  </ng-container>
  <td mat-cell *matCellDef="let book">
    <button mat-icon-button (click)="openBookDetailsModal(book)">
      <mat-icon>info</mat-icon>
    </button>
  </td>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [length]="allBooks.length"
  (page)="paginateBooks($event)">
</mat-paginator>

<button (click)="toggleFormVisibility()">Add new book</button>

<div *ngIf="showForm" class="form-container">
  <form [formGroup]="bookForm" (ngSubmit)="addBook()">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" />
    <div class="error-message"
      *ngIf="bookForm.get('title')?.hasError('required') || bookForm.get('title')?.hasError('pattern')">
      <div *ngIf="bookForm.get('title')?.hasError('required')">Title is required</div>
      <div *ngIf="bookForm.get('title')?.hasError('pattern')">Invalid title format</div>
    </div>

    <label for="author">Author:</label>
    <input type="text" id="author" formControlName="author" />
    <div class="error-message" *ngIf="bookForm.get('author')?.hasError('required')">Author is required</div>

    <label for="ISBN">ISBN:</label>
    <input type="text" id="ISBN" formControlName="ISBN" />
    <div class="error-message" *ngIf="bookForm.get('ISBN')?.hasError('required')">ISBN is required</div>
    <div class="error-message" *ngIf="bookForm.get('ISBN')?.hasError('pattern')">Invalid ISBN format</div>

    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" formControlName="imageUrl" />
    <div class="error-message" *ngIf="bookForm.get('imageUrl')?.hasError('required')">Image URL is required</div>
    <div class="error-message" *ngIf="bookForm.get('imageUrl')?.hasError('pattern')">Invalid image URL format</div>

    <button type="submit" [disabled]="bookForm.invalid">Add Book</button>
  </form>
</div>